
.grid-spacing-2-wrapper {
    /* Grid with spacing>0 is bigger than the parent, this fixes that for spacing=2,
       see also https://github.com/mui-org/material-ui/issues/7466 */
    width: calc(100% - 16px);
    margin-top: 8px;
    margin-bottom: 8px;
}

.MuiGrid-container.card {
    margin: 16px 0; /* theme.spacing(2, 0) */
    border-radius: 4px;
    background-color: #303030; /* theme.palette.background.default */
}
