
.grid-spacing-2-wrapper {
    /* Grid with spacing>0 is bigger than the parent, this fixes that for spacing=2,
       see also https://github.com/mui-org/material-ui/issues/7466 */
    width: calc(100% - 16px);
    margin-top: 8px;
    margin-bottom: 8px;

    /* mobile firefox has a strange bar at the bottom that is above the content,
       this adds enough space to make all of the content visible */
    padding-bottom: 35px;
}

.MuiGrid-container.card {
    margin: 16px 0; /* theme.spacing(2, 0) */
    border-radius: 4px;
    background-color: #303030; /* theme.palette.background.default */
}

*[data-title] {
    position: relative;
}
*[data-title]:hover::after,
*[data-title]:focus::after {
    content: attr(data-title);

    position: absolute;
    left: 0;
    bottom: -30px;
    width: auto;
    white-space: nowrap;
    z-index: 2;

    background-color: #222;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    font-size: 0.875rem;
    padding: 3px 5px;
}
