
.draggable {
    cursor: move;
    fill: transparent;
    touch-action: none;
}

.system {
    fill-opacity: 0.7;
}
.system.null-sec {
    fill: #d10404;
}
.system.low-sec {
    fill: #efc804;
}
.system.high-sec {
    fill: #08e27f;
}

.connection {
    stroke: lightgrey;
    stroke-width: 0.5;
    stroke-linecap: round;
}
.route {
    stroke: khaki;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-opacity: 0.7;
}
.route.ansiblex {
    stroke: aqua;
}
