
.null-sec {
    fill: #d10404;
}
.low-sec {
    fill: #efc804;
}
.high-sec {
    fill: #08e27f;
}

.connection {
    stroke: grey;
    stroke-width: 3;
    stroke-linecap: round;
}
.route {
    stroke: khaki;
    stroke-width: 8;
    stroke-linecap: round;
}
.route.ansiblex {
    stroke: aqua;
}
